<div id="content-box">
    <ul class="content-holder">
        
        <a href="/tutorials/html-web-development-tutorial-1">
            <li class="content-holder-item">
                | 1. Introduction to HTML, CSS, JavaScript &amp; How websites work? | Web Development Tutorials #1
            </li>
        </a>
        
        <a href="/tutorials/html-web-development-tutorial-2">
            <li class="content-holder-item  ">
                | 2. HTML Tutorial: Installing VS Code &amp; Live Server | Web Development Tutorials #2
            </li>
        </a>
        
        <a href="/tutorials/html-web-development-tutorial-3">
            <li class="content-holder-item  ">
                | 3. HTML Tutorial: Basic Structure of a Website | Web Development Tutorials #3
            </li>
        </a>
        
        <a href="/tutorials/html-web-development-tutorial-4">
            <li class="content-holder-item  ">
                | 4. HTML Tutorial: Title, Script, Link &amp; Meta Tags | Web Development Tutorials #4
            </li>
        </a>
        
        <a href="/tutorials/html-web-development-tutorial-5">
            <li class="content-holder-item  ">
                | 5. HTML Tutorial: Headings &amp; Paragraphs | Web Development Tutorials #5
            </li>
        </a>
        

    </ul>
</div>