extends base.pug


block content 
    .container 
        img(class="image" src="../static/img/Arka.jpg", alt="image")
        <h1 class="jumbotron-heading"><span id="typed"></span></h1>

    .cardSection 
        .cards#card1 
            img(class="cardimg" src="../static/img/home2.jpg", alt="card1 img")
            .words 
                h1 Learn Programming
                p Get access to our programming tutorials and you can learn various languages like Java, Python, HTML, CSS, JavaScript etc
        .cards#card2 
            img(class="cardimg" src="../static/img/home1.jpg", alt="card1 img")
            .words 
                h1 Codding Blog
                p In our codding blog , you can get solutions of various common problems which people face during programming 
        .cards#card3 
            img(class="cardimg" src="../static/img/home3.jpg", alt="card1 img")
            .words 
                h1 Contact Us
                p You can easily contact us and ask your douts about programming and we can help by giving your questions answer by sending it to your mail id or phone number
