extends base.pug

block css 
    link(rel="stylesheet", href="../static/css/tutorials.css")


block content 
    
    .tutsection 
        .box.box1
            img(src="../static/img/html.png", alt="html logo")
            h2 HTML - Web Development Tutorial
            a(href="tutorials/html-web-development-tutorial-1") Start Watching >>>

        .box.box2
            img(src="../static/img/html.png", alt="html logo")
            h2 Complete HTML tutorials for absolute begginers 
            a(href="/html") Start Watching >>>
            
        .box.box3
            img(src="../static/img/html.png", alt="html logo")
            h2 Complete HTML tutorials for absolute begginers 
            a(href="/html") Start Watching >>>
