<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab"aria-controls="overview" aria-selected="true">Overview</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="qna-tab" data-toggle="tab" href="#qna" role="tab" aria-controls="qna"aria-selected="false">Q&A</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="resources-tab" data-toggle="tab" href="#resources" role="tab"aria-controls="resources" aria-selected="false">Files</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="announcements-tab" data-toggle="tab" href="#announcements" role="tab"aria-controls="announcements" aria-selected="false">Announcements</a>
    </li>
</ul>